@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}


#root {
  display: flex;
  height: 100%;
  flex-direction: column;
}

#page-content {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  align-items: center;
  padding-top: 5%;
  overflow-y: auto;
}

#logo {
  padding-top: 5%;
  height: 13.5%;
  width: 13.5%;
}

#sign {
  color: #003594;
}

#sign:hover {
  color: #dd0c39;
  transform: translateY(5px);
}

#login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#loghead {
  background: -webkit-linear-gradient(#003594, #dd0c39);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: transparent;
  padding-bottom: 7%;
  padding-right: 5%;
  font-family: "Kaushan Script", cursive;;
}

#btn {
  background-color: #003594;
  color: white;
}

#btn:hover {
  background-color: white;
  color: #dd0c39;
  transform: translateY(-5px);
}
.nav-item {
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
}

.nav-item:hover {
  text-decoration: underline;
  color: #003594;
  text-decoration-color: #dd0c39;
  transform: translateY(-5px);
}

#products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#title {
  font-size: 3.5rem;
}

#logcontainer {
  font-size: 2rem;
  margin: 0;
}

p {
  margin: 0;
}

.css-rszk63 {
  margin-bottom: 0;
}

.css-m0ngsp {
  margin-top: 0;
}

#navcontainer {
  display: flex;
}

#signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.homepage {
  background-image: url('./assets/Facetune_11-06-2024-20-52-49.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.homepage-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items:flex-start;
  text-align: left;
  color: white;
}

.homepage-text {
  background-color: rgba(0,0,0,0.5);
  padding: 20px;
  border-radius: 10px;
}

.homepage-title {
  font-size: 3em;
  margin-bottom: 0.5em;
}

.homepage-subtitle {
  font-size: 1.5em;
}



#stripe {
  padding-bottom: 20%;
  font-size: 1.5rem;
}

li {
  list-style-type: circle;
  font-size: 1.5rem;
}

.cart-item {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.cart-item:last-child {
  border-bottom: none;
}

#pay {
  padding-top: 3%;
  text-align: center;
  padding-bottom: 3%;
}