/* Header.css */
@media (max-width: 767px) {
#logo {
  width: 50px; /* Adjust the size as needed */
}
}
@media (max-width: 767px) {
#title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 10px;
  color: black; /* Ensure the title color is visible */
}
}

@media (max-width: 767px) {
.navbar-nav .nav-link {
  color: white; /* Set font color to white */
  margin-left: 15px;
}
}

/* Styles specific to small screens */
@media (max-width: 767px) {
  .navbar-toggler {
    border: none; /* Remove border from the hamburger menu */
    color: #dd0c39; /* Set color to red */
    outline: none; /* Remove outline */
  }

  .navbar-toggler:focus {
    outline: none; /* Remove outline on focus */
  }

  .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.8); /* Add a dark background to the menu */
    position: absolute;
    right: 0;
    top: 60px; /* Adjust based on your navbar height */
    width: 200px;
  }

  #navcontainer {
    flex-direction: column;
    align-items: center;
  }

  #title {
    margin-top: 10px;
  }

  .navbar-collapse {
    width: 100%;
    right: 0;
    top: 100px; /* Adjust based on your navbar height */
  }
}

/* Ensure default styles for larger screens */
@media (min-width: 768px) {
  .navbar-nav {
    flex-direction: row;
  }

  .navbar-toggler {
    display: none; /* Hide the toggle button on larger screens */
  }

  .navbar-collapse {
    position: static;
    background-color: transparent;
    top: auto;
    width: auto;
  }
}




